game/estrangedact1/cfg/config.cfg
*.vcxproj
game/estrangedact1/cfg/server_blacklist.txt
game/estrangedact1/gamestate.txt
game/estrangedact1/modelsounds.cache
game/estrangedact1/sound/sound.cache
*.filters
*.user
*.vpc_crc
*.opensdf
*.sdf
*.sln
*.dt
game/estrangedact1/maps/
game/estrangedact1/stats.txt
*.pdb
src/game/client/Release_mod_hl2/
src/game/client/Debug_mod_hl2/
src/game/server/Release_mod_hl2/
src/game/server/Debug_mod_hl2/
*.vpc.sentinel
src/lib/public/mathlib.lib
*.suo
src/lib/public/raytrace.lib
src/lib/public/tier1.lib
src/lib/public/vgui_controls.lib
src/materialsystem/stdshaders/Release_dx9_game/
src/materialsystem/stdshaders/Debug_dx9_game/
src/mathlib/Release/
src/mathlib/Debug/
src/raytrace/Release/
src/raytrace/Debug/
src/tier1/Release/
src/tier1/Debug/
src/vgui2/vgui_controls/Release/
src/vgui2/vgui_controls/Debug/
src/vgui2/vgui_controls/generated_proto/
src/fgdlib/Release/
src/fgdlib/Debug/
src/utils/qc_eyes/Release/
src/utils/qc_eyes/Debug/
src/utils/vbsp/Release/
src/utils/vbsp/Debug/
src/utils/serverplugin_sample/Release/
src/utils/serverplugin_sample/Debug/
src/utils/motionmapper/Release/
src/utils/motionmapper/Debug/
src/utils/phonemeextractor/Release/
src/utils/phonemeextractor/Debug/
src/utils/glview/Release/
src/utils/glview/Debug/
src/utils/captioncompiler/Release/
src/utils/captioncompiler/Debug/
src/utils/height2normal/Release/
src/utils/height2normal/Debug/
src/utils/tgadiff/Release/
src/utils/tgadiff/Debug/
src/utils/vice/Release/
src/utils/vice/Debug/
src/utils/vrad/Release/
src/utils/vrad/Debug/
src/utils/vrad_launcher/Release/
src/utils/vrad_launcher/Debug/
src/utils/vtf2tga/Release/
src/utils/vtf2tga/Debug/
src/utils/vtfdiff/Release/
src/utils/vtfdiff/Debug/
src/utils/vvis/Release/
src/utils/vvis/Debug/
src/utils/vvis_launcher/Release/
src/utils/vvis_launcher/Debug/
game/bin/captioncompiler.exe
game/bin/glview.exe
game/bin/height2normal.exe
game/bin/motionmapper.exe
game/bin/qc_eyes.exe
game/bin/serverplugin_empty.dll
game/bin/tgadiff.exe
game/bin/vbsp.exe
game/bin/vrad_dll.dll
game/bin/vvis.exe
game/bin/vvis_dll.dll
src/lib/public/fgdlib.lib
game/estrangedact1/downloadlists/
