game/estrangedact1/cfg/config.cfg
*.vcxproj
game/estrangedact1/cfg/server_blacklist.txt
game/estrangedact1/gamestate.txt
game/estrangedact1/modelsounds.cache
game/estrangedact1/sound/sound.cache
*.filters
*.user
*.vpc_crc
*.opensdf
*.sdf
*.sln
*.dt
game/estrangedact1/maps/
game/estrangedact1/stats.txt
*.pdb
src/game/client/Release_mod_hl2/
src/game/client/Debug_mod_hl2/
src/game/server/Release_mod_hl2/
src/game/server/Debug_mod_hl2/
*.vpc.sentinel
src/lib/public/mathlib.lib
*.suo
src/lib/public/raytrace.lib
src/lib/public/tier1.lib
src/lib/public/vgui_controls.lib
src/materialsystem/stdshaders/Release_dx9_game/
src/materialsystem/stdshaders/Debug_dx9_game/
src/mathlib/Release/
src/mathlib/Debug/
src/raytrace/Release/
src/raytrace/Debug/
src/tier1/Release/
src/tier1/Debug/
src/vgui2/vgui_controls/Release/
src/vgui2/vgui_controls/Debug/
src/vgui2/vgui_controls/generated_proto/
